<!DOCTYPE html>
<head>
    <title>{% block page_title %}Nipy{% endblock %}</title>
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static',filename='img/favicon-96x96.png') }}">
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
   
    <!--Select 2
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>-->
    <script src="{{ url_for('static',filename='js/layout.js') }}"></script>
    <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet" />
    {% block head %}{% endblock %}

</head>
<meta charset="utf-8">

<body>
<div id="fade"></div>
    <div class="row">

        {% extends "navigation.html" %}

        <div class="container">
            <div class="col-md-10 nipy-content">
            {% block content %}{% endblock %}            
            </div>
        </div><!-- close content container-->
    </div><!--Close row--> 
</html>
