<!-- Navigation-->
<style>
.list-group-item {
    border: none;
}
</style>
<div class="navbar">
<div class="col-md-2 nipy-nav">
<h1 class="logo">Nipy</h1>

  <div class="list-group panel">
    <a href="/blog" class="list-group-item list-group-item strong">Blog </a>

    <a href="#projects" class="list-group-item list-group-item strong" data-toggle="collapse">Projects <i class="fa fa-caret-down"></i></a>
    <div class="collapse" id="projects">
      <a href="#" class="list-group-item strong" data-toggle="collapse" data-parent="#SubMenu1">Subitem 1 <i class="fa fa-caret-down"></i></a>
    </div>
        </div>
    
  </div>

</div><!-- close navigation-->
